
<!DOCTYPE html>
<html>
<head>
    <title>Art Marketplace: @ViewBag.Title</title>
    <link href="\node_modules\bootstrap\dist\css\bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/index.css" rel="stylesheet" />
</head>
<body>

    <header>
        <h1>Welcome to Art Marketplace</h1>
        <menu>
            <ul>
                <li><a asp-controller="App" asp-action="Index">Home</a></li>
                <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
                <li><a asp-controller="App" asp-action="About">About</a></li>
            </ul>
        </menu>
    </header>
    <section>
        <h1>@ViewBag.Title</h1>
        @RenderBody()
    </section>
    <footer>Copyright 2020 </footer>

    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="\node_modules\bootstrap\dist\js\bootstrap.bundle.min.js"></script>
    <script src="~/js/index.js"></script>
    @RenderSection("scripts", false)
</body>
</html>


